.header-big {
    position: fixed;
    top: 0;
}

.head-scroll {
    background-color: #000000c9;
}

.logo-head {
    color: #83e8ce;
}

.header-links a {
    position: relative;
    transition-duration: 0.5s;
}

.header-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #83e8ce;
    transition-duration: 0.5s;
}

.header-links a:hover {
    color: #83e8ce;
}

.header-links a:hover::after {
    width: 100%;
}

.links-list {
    transition-duration: 1s;
}

.links-list a {
    transition-duration: 0.5s;
}

.links-list a:hover {
    color: #83e8ce;
    transform: translate(10px);
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
}

.links-list button {
    transition-duration: 0.5s;
}

.links-list button:hover {
    color: #83e8ce;
}

.hideList {
    width: 0;
}


@media (max-width: 400px) {

    .header-links {
        display: none;
    }

    .showList {
        width: 200px;
    }

    .list-icon {
        display: block;
    }
}



@media (min-width: 400px) and (max-width: 600px) {
    .header-links {
        display: none;
    }

    .showList {
        width: 200px;
    }

    .list-icon {
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .header-links {
        display: none;
    }

    .showList {
        width: 250px;
    }

    .list-icon {
        display: block;
    }
}

@media (min-width: 800px) and (max-width: 1250px) {
    .header-links {
        display: none;
    }

    .showList {
        width: 320px;
    }

    .list-icon {
        display: block;
    }
}